<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSA</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <style>
        body {
            padding: 0;
            margin: 0;
            width: 100vw;
            height: 100vh;
        }

        #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="map"></div>
</body>

<script>
    var map = L.map('map', {
        center: [40.64496115472638, -8.649944858530267],
        zoom: 17,
        minZoom: 14
    });

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}@2x?access_token={accessToken}', {
        attribution: '&copy; <a href="https://www.mapbox.com/about/maps/">Mapbox</a> | &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        id: 'agoraaveiro/ckknd9qqr570617t6aegkail9',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiYWdvcmFhdmVpcm8iLCJhIjoiY2trbmNoeXd5MXN2cTJudGRodzhjbjR6bSJ9.dvGHDz58mhv1i46hWJvEtQ',
    }).addTo(map);

    var truckIcon = L.icon({
        iconUrl: '{{ url_for("static", path="/truck.png") }}',
        iconSize: [30, 30],
        popupAnchor: [0, -10]
    });

    var garbageIcon = L.icon({
        iconUrl: '{{ url_for("static", path="/garbage.png") }}',
        iconSize: [20, 20],
        popupAnchor: [0, -10]
    });

    var truck1 = L.marker([40.64486115472638, -8.653944858530267], { icon: truckIcon }).addTo(map).bindPopup("<b>Truck #1</b><br>(moving)").openPopup();
    var truck2 = L.marker([40.64576115472638, -8.651944858530267], { icon: truckIcon }).addTo(map).bindPopup("<b>Truck #2</b><br>(waiting)");
    var truck3 = L.marker([40.64426115472638, -8.651844858530267], { icon: truckIcon }).addTo(map).bindPopup("<b>Truck #3</b><br>(unloading)");

    var garbage1 = L.marker([40.64496115472638, -8.648944858530267], { icon: garbageIcon }).addTo(map).bindPopup("<b>Garbage #1</b><br>(not full)");
    var garbage2 = L.marker([40.64596115472638, -8.647944858530267], { icon: garbageIcon }).addTo(map).bindPopup("<b>Garbage #2</b><br>(not full)");
    var garbage3 = L.marker([40.64696115472638, -8.646944858530267], { icon: garbageIcon }).addTo(map).bindPopup("<b>Garbage #3</b><br>(not full)");
    var garbage4 = L.marker([40.64796115472638, -8.644944858530267], { icon: garbageIcon }).addTo(map).bindPopup("<b>Garbage #4</b><br>(full)");

    // TODO: Temporary hardcoded positions
    var positionsArray = [
        [40.643778, -8.65413],
        [40.643573, -8.653911],
        [40.643361, -8.653643],
        [40.643499, -8.653461],
        [40.643597, -8.653343],
        [40.643752, -8.653525],
        [40.643907, -8.653708],
        [40.64389, -8.653965]
    ];

    updateMarkerPosition(truck1, positionsArray);

    function updateMarkerPosition(truck1, positionsArray) {
        truck1.setLatLng(positionsArray[0]).update();

        positionsArray.shift();

        if (positionsArray.length === 0) {
            var positionsArray = [
                [40.643778, -8.65413],
                [40.643573, -8.653911],
                [40.643361, -8.653643],
                [40.643499, -8.653461],
                [40.643597, -8.653343],
                [40.643752, -8.653525],
                [40.643907, -8.653708],
                [40.64389, -8.653965]
            ];
        }

        if (positionsArray.length > 0) {
            setTimeout(function () {
                updateMarkerPosition(truck1, positionsArray);
            }, 1000);
        }
    }

    function onMapClick(e) {
        alert("You clicked the map at " + e.latlng);
    }

    //map.on('click', onMapClick);

</script>

</html>