<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart City Waste Management</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <style>
        body {
            padding: 0;
            margin: 0;
            width: 100vw;
            height: 100vh;
        }

        #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="map"></div>
</body>

<script>
    var map = L.map('map', {
        center: [40.64326115472638, -8.647944858530267],
        zoom: 17,
        minZoom: 14
    });

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}@2x?access_token={accessToken}', {
        attribution: '&copy; <a href="https://www.mapbox.com/about/maps/">Mapbox</a> | &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        id: 'agoraaveiro/clie4lqsf003u01pm1d9sgqfu',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiYWdvcmFhdmVpcm8iLCJhIjoiY2trbmNoeXd5MXN2cTJudGRodzhjbjR6bSJ9.dvGHDz58mhv1i46hWJvEtQ',
    }).addTo(map);

    var truckIcon = L.icon({
        iconUrl: '{{ url_for("static", path="/truck.png") }}',
        iconSize: [30, 30],
        popupAnchor: [0, -10]
    });

    var garbageIcon = L.icon({
        iconUrl: '{{ url_for("static", path="/garbage.png") }}',
        iconSize: [20, 20],
        popupAnchor: [0, -10]
    });

    var truck1 = L.marker([0, 0], { icon: truckIcon }).addTo(map).bindPopup("<b>Truck #1</b>", { closeOnClick: false, autoClose: false });
    var truck2 = L.marker([0, 0], { icon: truckIcon }).addTo(map).bindPopup("<b>Truck #2</b>", { closeOnClick: false, autoClose: false });
    var truck3 = L.marker([0, 0], { icon: truckIcon }).addTo(map).bindPopup("<b>Truck #3</b>", { closeOnClick: false, autoClose: false });

    {% for garbage_container in garbage_coordinates %}
    var garbage{{ loop.index }} = L.marker([{{ garbage_container[0] }}, {{ garbage_container[1] }}], { icon: garbageIcon }).addTo(map).bindPopup("<b>Garbage #{{ loop.index }}</b><br>0% filled");
    {% endfor %}


    //var trucks_layer = L.layerGroup([truck1, truck2, truck3]);
    var route_layer = L.layerGroup().addTo(map);
    //var garbage_layer = L.layerGroup([garbage1, garbage2, garbage3]);

    const loop = setInterval(function () {
        updateMarkerPosition(truck1, "1").then(
            function (value) {
                if (value === false) {
                    clearInterval(loop);
                } else {
                    //updatePolylineRoute(truck1)
                }
            },
            function (error) {
                clearInterval(loop);
            }
        );
        updateMarkerPosition(truck2, "2").then(
            function (value) {
                if (value === false) {
                    clearInterval(loop);
                } else {
                    //updatePolylineRoute(truck1)
                }
            },
            function (error) {
                clearInterval(loop);
            }
        );
        updateMarkerPosition(truck3, "3").then(
            function (value) {
                if (value === false) {
                    clearInterval(loop);
                } else {
                    //updatePolylineRoute(truck1)
                }
            },
            function (error) {
                clearInterval(loop);
            }
        );
        /*updateGarbagePercentage().then(
            function (value) {
                if (value === false) {
                    clearInterval(loop);
                }
            },
            function (error) {
                clearInterval(loop);
            }
        );*/
    }, 300);

    async function updateMarkerPosition(marker, truck) {
        try {
            const response = await fetch('/truck/' + truck);
            const data = await response.json();

            if (response.ok) {
                //console.log("Success:", data);

                marker.setLatLng([data["latitude"], data["longitude"]]).update();
                marker.setPopupContent("<b>Truck #" + data["id"] + "</b>").openPopup();

                return true;
            } else {
                console.error("Error fetching truck id:", data["detail"]);
                return false;
            }
        } catch (error) {
            console.error("Error fetching truck position:", error);
            return false;
        }
    }

    async function updateGarbagePercentage() {
        try {
            const response = await fetch('/garbage');
            const data = await response.json();

            if (response.ok) {
                console.log("Success:", data);

                marker.setLatLng([data["latitude"], data["longitude"]]).update();
                if (data["percentage"] > 70) {
                    marker.setPopupContent("<b>Truck #" + data["id"] + "</b><br>(" + data["percentage"] + "% filled)").openPopup();
                } else {
                    marker.setPopupContent("<b>Truck #" + data["id"] + "</b><br>(" + data["percentage"] + "% filled)");
                }

                return true;
            } else {
                console.error("Error fetching truck id:", data["detail"]);
                return false;
            }
        } catch (error) {
            console.error("Error fetching truck position:", error);
            return false;
        }
    }

    async function updatePolylineRoute(marker) {
        try {
            const response = await fetch('/route');
            const data = await response.json();

            if (response.ok) {
                console.log("Success:", data);

                route_layer.clearLayers();
                var polyline = L.polyline(data["geometry"], { color: "red" }).bindPopup("<b>Distance:</b><br>" + data["distance"] + " km<br><b>ETA:</b><br>" + data["duration"], { closeOnClick: false, autoClose: false }).addTo(route_layer).openPopup();
                map.fitBounds(polyline.getBounds());

                return true;
            } else {
                console.error("Error fetching route:", data["detail"]);
                return false;
            }
        } catch (error) {
            console.error("Error fetching route:", error);
            return false;
        }
    }

</script>

</html>